body {
  margin: 0;
  font-family: Arial, sans-serif;
}
header {
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.navbar {
  list-style: none;
  margin-left: auto;
  margin-right: 0;
  padding-right: 0;
  padding-left: auto;
  display: flex;
}
nav li {
  margin-right: 20px;
}
nav a {
  color: white;
  text-decoration: none;
}
.side-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}
aside,
main {
  border: 1px solid blue;
}
aside {
  background-color: black;
  color: white;
  width: 200px;
  padding: 20px;
  justify-content: space-between;
  flex-direction: column;
}
aside ul {
  padding-top: 30%;
  list-style-type: none;
  text-align: center;
}
footer {
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
