@import url('https://fonts.googleapis.com/css?family=Raleway');
:root {
  --glow-color: hsl(304, 93%, 68%);
}
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
/* -------- Body & HTML -------- */
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}
body {
  line-height: 1.5;
  min-height: 125vh;
  background: linear-gradient(to top left, #7a0dff, #b60dff);
}
/* -------- Header and Nav -------- */
header {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}
.navbar {
  list-style: none;
  margin: 0 auto;
  display: flex;
  padding-left: 1rem;
  gap: 10px;
}
nav li {
  margin-right: 20px;
}
nav a {
  color: white;
  text-decoration: none;
}

/* -------- Classes for the projects section -------- */
.container h1 {
  font-family: 'Monoton', cursive;
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  color: rgb(252, 121, 218);
  text-shadow: 0 0 2px black, 0 0 5px black, 0 0 10px rgb(234, 38, 171),
    0 0 10px rgb(234, 38, 171), 0 0 15px rgb(234, 38, 171),
    0 0 20px rgb(234, 38, 171), 0 0 25px rgb(234, 38, 171);
}
.project--btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-row-gap: 4rem;
}
.show-projectbtn {
  /* border-radius: 10rem;
  border: none;
  min-width: 10rem;
  color: rgb(234, 38, 171);
  background-color: rgb(252, 121, 218);
  font-size: 14px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  display: block;
  position: relative; */
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}
.show-projectbtn::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.show-projectbtn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.show-projectbtn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.show-projectbtn:hover .glowing-txt {
  animation: none;
}

.show-projectbtn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.show-projectbtn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.show-projectbtn:hover:after {
  opacity: 1;
}
@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn {
    font-size: 1em;
  }
}
#btn1 {
  grid-area: 1 / 1 / 2 / 2;
}
#btn2 {
  grid-area: 2 / 3 / 3 / 4;
}
#btn3 {
  grid-area: 3 / 1 / 4 / 2;
}
#btn4 {
  grid-area: 4 / 3 / 5 / 4;
}
#btn5 {
  grid-area: 5 / 1 / 6 / 2;
}
#btn6 {
  grid-area: 6 / 3 / 7 / 4;
}
.hidden {
  display: none;
}
.projectbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.close-projectbtn {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
footer {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
