@import url('https://fonts.googleapis.com/css?family=Raleway');
:root {
  --glow-color: hsl(304, 93%, 68%);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* -------- Body & HTML -------- */
html {
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  min-height: 100vh;
  background: linear-gradient(to top left, #7a0dff, #b60dff) no-repeat;
}
/* -------- Header and Nav -------- */
header {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}
.navbar {
  list-style: none;
  margin: 0 auto;
  display: flex;
  padding-left: 1rem;
  gap: 10px;
}
nav li {
  margin-right: 20px;
}
nav a {
  color: white;
  text-decoration: none;
}
/* -------- Intro -------- */
.top-container {
  background-color: #00adb5;
  position: relative;
  text-align: center;
  padding-top: 50px;
  min-height: 5rem;
  height: 100%;
  width: 100%;
}
.top-container h1 {
  font-size: 5.625rem;
  color: #393e46;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
.pro h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}
.top-container h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #393e46;
  padding-bottom: 10px;
}
.intro p {
  line-height: 1.5;
  width: 50%;
  margin: auto;
}
.pro1 {
  text-decoration-line: underline;
}
.bottom-cloud {
  position: absolute;
  left: 10px;
  bottom: 50px;
  width: 50%;
  height: 100%;
}
.middle-cloud {
  position: absolute;
  right: 150px;
  bottom: 250px;
}
.top-cloud {
  position: absolute;
  right: 350px;
  top: 40px;
}
/* -------- Classes for the projects section -------- */
.container h1 {
  font-family: 'Monoton', cursive;
  font-size: 2.5rem;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 5rem;
  text-align: center;
  color: rgb(252, 121, 218);
  text-shadow: 0 0 2px black, 0 0 5px black, 0 0 10px rgb(234, 38, 171),
    0 0 10px rgb(234, 38, 171), 0 0 15px rgb(234, 38, 171),
    0 0 20px rgb(234, 38, 171), 0 0 25px rgb(234, 38, 171);
}
.project--btn {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 5rem;
  grid-column-end: unset;
}
#btn1 {
  grid-area: 1 / 2 / 2 / 3;
}
#btn2 {
  grid-area: 2 / 4 / 3 / 5;
}
#btn3 {
  grid-area: 3 / 2 / 4 / 3;
}
#btn4 {
  grid-area: 4 / 4 / 5 / 5;
}
#btn5 {
  grid-area: 5 / 2 / 6 / 3;
  margin-bottom: 20px;
}
#btn5::after {
  box-shadow: none;
}
/* #btn6 {
  grid-area: 6 / 3 / 7 / 4;
} */
.show-projectbtn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}
.show-projectbtn::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  pointer-events: none;
}

.show-projectbtn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.show-projectbtn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.show-projectbtn:hover .glowing-txt {
  animation: none;
}
.show-projectbtn:hover:after {
  opacity: 1;
  border: var(--glow-color);
  border-width: 0.25em;
  border-style: solid;
}
@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
/* -------- For the closing -------- */
.hidden {
  display: none;
}
.projectbtn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.close-projectbtn {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
/* --------  Footer -------- */
.bottom-container {
  background-color: black;
  padding: 50px 20px 20px 20px;
  text-align: center;
}
.footer-link {
  font-family: 'Montserrat', sans-serif;
  color: #eeeeee;
  text-decoration: none;
}
.copyright {
  font-family: 'Montserrat', sans-serif;
  color: #eeeeee;
  font-size: 0.75rem;
}
.bottom-container a:hover {
  color: #393e46;
  font-family: 'Montserrat', sans-serif;
  color: #afabab;
}
/* --------  Extra --------  */
.projectbtn a {
  text-decoration: none;
}
.projectbtn a:link {
  text-decoration: none;
}
.projectbtn a {
  text-decoration: none;
}
.projectbtn a {
  text-decoration: none;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .glowing-btn {
    font-size: 1em;
  }
  .project--btn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 25px;
  }

  #btn1 {
    grid-area: 1 / 2 / 2 / 3;
  }
  #btn2 {
    grid-area: 2 / 2 / 3 / 3;
  }
  #btn3 {
    grid-area: 3 / 2 / 4 / 3;
  }
  #btn4 {
    grid-area: 4 / 2 / 5 / 3;
  }
  #btn5 {
    grid-area: 5 / 2 / 6 / 3;
  }
}
@media screen and (max-width: 767px) {
  .glowing-btn {
    font-size: 1em;
  }
  .project--btn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 25px;
  }

  #btn1 {
    grid-area: 1 / 2 / 2 / 3;
  }
  #btn2 {
    grid-area: 2 / 2 / 3 / 3;
  }
  #btn3 {
    grid-area: 3 / 2 / 4 / 3;
  }
  #btn4 {
    grid-area: 4 / 2 / 5 / 3;
  }
  #btn5 {
    grid-area: 5 / 2 / 6 / 3;
  }
}
